.contacts-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2b4f6e;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
  }

  .contact{
    height: 150px;
    width: 230px;
    background-color: #173046;
    color: #fff;
    border-radius: 20px;
    padding: 10px 10px;
    margin-bottom: 10px;
  }